@use '../../styles/variables';
.button {
  background-color: variables.$highlight-color;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.9285714285714286rem;
  line-height: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  box-shadow: variables.$shadow;
  &:hover {
    background-color: rgb(199 87 36);
  }
  &:active {
    transform: scale(0.99);
  }
}
