$primary-color: #555f53;
$highlight-color: rgb(225 90 29);
$secondary-background: rgb(234, 234, 234);
$font-primary:
  GTUltra,
  Lato,
  Noto Sans,
  Noto Sans JP,
  Noto Sans KR,
  Noto Sans SC,
  Noto Sans TC,
  ui-sans-serif,
  system-ui,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  Segoe UI Symbol,
  'Noto Color Emoji';
$space: 10px;
$shadow: 0 17px 9px -15px rgb(0 0 0 / 50%);
$transition: 0.4s ease;
$readable-width: 600px;
