@use '../../styles/variables';
@use '../../styles/animations';
@use '../../styles/typography';
.homeContainer {
  height: 100vh;
  width: 100vw;
  font-size: 12px;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: variables.$primary-color;
  height: variables.$space * 30;
  width: 100%;
  padding: variables.$space;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
h1 {
  @include typography.headerText();

  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.description {
  @include typography.mainText();
  max-width: variables.$readable-width;
  text-align: center;
}
.langLinkList {
  position: absolute;
  top: variables.$space;
  left: variables.$space;
}
.langLink {
  display: inline-block;
  margin-right: variables.$space;
  transition: variables.$transition;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  &:hover {
    color: rgba(200, 200, 200, 1);
    transform: scale(1.2);
  }
}
.titleContainer {
  min-height: 160px;
}
.contents {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$secondary-background;
}
.boardContainer {
  margin-top: 3rem;
}
