@import '../../styles/variables';
@import '../../styles/animations';
.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $space;
}
.icon {
  display: inline-block;
  padding: $space;
  margin: $space;
  transition: $transition;
  opacity: 0.2;
  width: 30px;
  &.active {
    animation: text-focus-in 0.2s ease-in alternate;
  }
  &:hover {
    opacity: 1;
  }
}
