@use '../../styles/variables';
@use '../../styles/animations';
.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: variables.$space;
  user-select: none;
}
.icon {
  display: inline-block;
  padding: variables.$space;
  margin: variables.$space;
  transition: variables.$transition;
  opacity: 0.3;
  width: 30px;
  &.active {
    animation: opacity-in-out 0.4s ease-in alternate;
  }
  &:hover {
    opacity: 1;
  }
}
